body, html {
	padding:0px;
	margin:0px;

}

#nav {
	background-color: black;
	padding:10px;
}


#logo {
	width: 100px;
}

.navbar_brand> img {
	margin-left: 15px;
	display: block;
}

img {
	vertical-align: middle;
}

.clr {
	clear:both;
}

#top_left {
	width:279px;
	height:480px;
	float:left;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.img-circle {
	border-radius: 50%;
	display: block;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

#top_right {
	height:480;
}

#bottom_left {
	height:1300px;
	width: 279px;
	float:left;
	display: block;
	margin-left: 15px;
	margin-right: 15px;
}

li {
	margin: 10px;
}

